@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-blob: blob 7s infinite;
  --animate-blob-slow: blob 10s infinite;
  --color-darkgray: #141517;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2000ms;
  }
  .animation-delay-4000 {
    animation-delay: 4000ms;
  }
  /* Standard text */
  .font-sans {
    font-family: var(--font-nunito), ui-sans-serif, system-ui, sans-serif;
  }
  /* Titles */
  .font-serif {
    font-family: var(--font-geist), ui-serif, Georgia, serif;
  }
}

@layer base {
  html,
  body {
    overflow-x: hidden;
  }

  body {
    @apply font-sans;
  }
}
