@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-blob: blob 7s infinite;
  --animate-blob-slow: blob 10s infinite;

  /* COLORS */
  --color-bglight: #f1fafe;
  --color-bgdark: #0a0913;

  --color-darkgray: #212031;
  --color-navyblack: #1a1825;

  --color-primary: #2BA3EE;
  --color-primarydark: #1A8CD8;
  --color-accent: #244afd;
  
  

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(14deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(14deg);
    }
    50% {
      transform: rotate(-4deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

@layer utilities {
  .animate-wave {
    animation: wave 2s infinite;
    transform-origin: 70% 70%;
  }
  .animation-delay-2000 {
    animation-delay: 2000ms;
  }
  .animation-delay-4000 {
    animation-delay: 4000ms;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Standard text */
  .font-sans {
    font-family: var(--font-nunito), ui-sans-serif, system-ui, sans-serif;
  }
  /* Titles */
  .font-serif {
    font-family: var(--font-geist), ui-serif, Georgia, serif;
  }
}

@layer base {
  html,
  body {
    overflow-x: hidden;
  }

  body {
    @apply font-sans;
  }
}

@layer components {
  .bento-card {
    @apply flex flex-col bg-white rounded-4xl border-b-4 border-primary dark:bg-navyblack dark:border-primarydark shadow-md text-center w-full h-full;
  }
  .card-title {
    @apply font-bold text-3xl sm:text-4xl tracking-tighter;
  }
  .card-subtitle {
    @apply tracking-tight font-bold text-lg sm:text-xl;
  }
  .card-text {
    @apply text-base opacity-90 sm:text-base md:text-lg font-medium sm:opacity-80 leading-relaxed;
  }
}